



@media screen and (max-width:1200px){
    header{
        font-size: 20px;
        display: flex;
    } 
}



@media screen and (min-width:1200px){
    header{
        font-size: 50px;

    }
}


H1{
    position: center ;
}
.nav{
    display: flex;
    justify-content: space-evenly;
}
.aboutme{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 139px;
    padding: 78px;
}
.intro{
    FONT-SIZE: 27px;
}
img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img:hover { 
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
@keyframes bg {
    0% {
        background-size:    0 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    25% {
        background-size:    100% 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    50% {
        background-size:    100% 3px,
                            3px 100%,
                            0 3px,
                            3px 0;
    }
    75% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 0;
    }
    100% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 100%;
    }
}

#About-Me{
    width: 25%;
    margin: 2rem auto;
    padding: 2em;
    
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%);
    background-size:    100% 3px,
                        3px 100%,
                        100% 3px,
                        3px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
    animation-play-state: paused;
}

#About-Me:hover {
    animation-play-state: running;
}
.suite{
    font-size: 22px;
}
#performance{
    text-align: center;
    font-size: 22px;
}

.contact{
    display: grid;
    grid-template-columns:200px 200px 200px ;
   grid-template-rows: 200px 200px 200px  ;
   grid-template-areas : 'item1 item1 item1'
                          'item1 item1 item1'
                          'item3 item2 item2 ' ;
  margin-left: 662px;
  }
  #item1{
      display:grid;
      grid-area:item1 ;
  }
  #item2{
      display: grid;
      grid-area: item2;
  }
#item3{
    display: grid;
    grid-area: item3 ;
}
svg{font-weight:bold;max-width:600px;height:auto;
    margin-left: 636px;
   
}
